###
### .gitignore
###

# Allowlist machine-specific configurations
user-machine/*.el
!user-machine/user-machine-mahoro.el
!user-machine/user-machine-togusa.el

# Remote packages and temporary files
/local

# Compiled libraries
*.elc

# Session files created when emacs is closed by the window manager
/.session.*

# Bookmarks created by projectile while byte compiling configuration
/projectile-bookmarks.eld

# Tags
/TAGS
